* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: red;
}

a:active {
  color: green;
}

a:visited {
  color: #000;
}

.grid {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  color: #fff;
  font-style: italic;
  text-align: center;
  float: inherit;

}

.header {
  color: white;
  font-family: timesnewroman, serif;
  text-align: center;
  background-image: url(../assets/backgrounds/landing.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0 auto;
}

.sidebar{
  float: center;

}
